.content {
  margin-inline: var(--content-padding);
}

.content h2 {
  margin-top: 48px;
}

.content p {
  margin-top: 24px;
}

.callout {
  background: #FFCC8D;
  border-radius: 5px;
  margin-block: 56px;

  display: flex;
  flex-direction: column;
  padding: 32px 36px;
}

.vansButton {
  background: #161616;
  color: #FFFFFF;
  margin-top: 24px;

  width: fit-content;
  padding: 12px 22px;
}
