.content {
  padding-block: 0 64px;
  padding-inline: var(--content-padding);
}

.vans {
  margin-top: 60px;

  display: flex;
  flex-flow: row wrap;
  place-content: space-around;
  row-gap: 24px;
}
