* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
  background: #000;
  max-width: 550px;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.button {
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  transition: transform .1s ease-in-out;

  display: flex;
  place-content: center;
  place-items: center;
}

.button:hover {
  transform: translate(1px, 1px);
}
