@import url('/global.css');

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
  background: #000;
  max-width: 550px;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.button {
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  transition: transform .1s ease-in-out;

  display: flex;
  place-content: center;
  place-items: center;
}

.button:hover {
  transform: translate(1px, 1px);
}

.h1 {
  font-weight: 700;
  font-size: 36px;
}

.h2 {
  font-weight: 700;
  font-size: 32px;

  /* Host Vans */
  line-height: 34px;
}

.h3 {
  font-weight: 700;
  font-size: 30px;
}

.h4 {
  font-weight: 700;
  font-size: 24px;
}

.h5 {
  font-weight: 600;
  font-size: 20px;

  /* VanSlate */
  line-height: 32px;
}

.text {
  font-size: 16px;
  font-weight: 500;
}

.link {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

.link--large {
  font-size: 18px;
}

.link:hover,
.link.active {
  color: #161616;
  text-decoration: underline;
}
