@import url('/global.css');

.nav {
  background: #FFF7ED;
  height: var(--header-height);

  display: flex;
  align-items: center;
  padding-inline: 24px;
  font-family: 'Inter';
}

.title {
  color: #000000;
  font-size: 26px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;

  margin-right: auto;
}

.links {
  display: flex;
  gap: 16px;

  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

.links a {
  color: #4D4D4D;
  padding: 0 4px;
}

.links a:hover,
a.selected {
  color: #161616;
  text-decoration-line: underline;
}
