.content {
  padding-inline: var(--content-padding);
}

.photo {
  margin-top: 40px;
  width: 502px;
  height: 502px;

  display: flex;
}

.photo img {
  border-radius: 5px;
}

.chips {
  margin-top: 50px;
}

.name {
  margin-top: 24px;
}

.cost {
  margin-top: 12px;

  display: flex;
  place-items: baseline;
  gap: 4px;
}

.cost p:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.cost p:nth-child(2) {
  font-size: 18px;
  text-align: right;
}

.description {
  margin-top: 16px;
}

.rent {
  margin-top: 24px;
}

.rentButton {
  background: #FF8C38;
  width: 100%;
  height: 50px;

  color: #FFFFFF;
}
