.content {
  margin-top: 36px;
  padding-inline: var(--content-padding);
}

.card {
  background: #ffffff;
  border-radius: 6px;
  margin-top: 36px;
  padding: 24px;
}

.links {
  margin-top: 24px;

  display: flex;
  gap: 24px;
}
