.content {
  margin-inline: var(--content-padding);
  margin-top: 64px;
}

.code {
  margin-block: 56px;
  margin-inline: 24px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homeBtn {
  background: #161616;
  color: #FFFFFF;
  margin-top: 32px;
  padding: 12px 22px;
}
